<div class="m-0 vh-100 row justify-content-center aling-items-center">
  <div class="col-auto p-5">
    <div class="container change-rol">
      <button class="btn btn-primary mb-3" id="products">Volver a la tienda</button>
      <div class="row">
        <div class="col-sm contenedor">
          <h2 class="mb-5">Cambia tu Rol</h2>
          <p class="mb-4">Necesitas llenar esta información para cambiar tu rol a Premium.</p>
          <form id="form-change-rol" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="profile_image" class="form-label">Imagen de perfil</label>
              <input class="form-control h-0 p-0" type="file" id="profile_image" name="profile_image">
            </div>
            <div class="mb-3">
              <label for="product_image">Imagen del producto:</label>
              <input
                type="file"
                class="form-control h-0 p-0"
                id="product_image"
                name="product_image"
              />
            </div>
            <h3 class="my-5">Documentación: </h3>
            <div class="mb-3">
              <label for="identification_document">Identificación:</label>
              <input
                type="file"
                class="form-control h-0 p-0"
                id="identification_document"
                name="identification_document"
              />
            </div>
            <div class="mb-3">
              <label for="address_document">Comprobante de domicilio:</label>
              <input
                type="file"
                class="form-control h-0 p-0"
                id="address_document"
                name="address_document"
              />
            </div>
            <div class="mb-3">
              <label for="statement_account_document">Comprobante de estado de cuenta:</label>
              <input
                type="file" 
                class="form-control h-0 p-0"
                id="statement_account_document"
                name="statement_account_document"
              />
            </div>
            <p id="status-1" style="color: red;"></p>
          </form>

          <button class="btn btn-primary mb-3" id="btn-change-rol">Cambia tu Rol</button>
          <p id="status-2" style="color: red;"></p>
        </div>
      </div>
    </div>
  </div>
</div>

<script
  src="/js/changeRole.js"
  data-user-id="{{userId}}"
  data-user-rol="{{userRol}}"
></script>