<div class="m-0 vh-100 row justify-content-center aling-items-center">
  <div class="col-auto p-5">
    <div class="container cont-register" style="width: 380px">
      <div class="row register">
        <div class="col-sm contenedor">
          <h2>Inicia sesión</h2>
          <form id="form-login">
            <div class="mb-3">
              <label for="email">Email</label>
              <input type="text" class="form-control" id="email" name="email" />
            </div>
            <div class="mb-3">
              <label for="password">Contraseña</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
              />
            </div>
            <p id="status" style="color: red;"></p>
            <button type="submit" class="btn btn-primary mb-3">Inicia sesión</button>
            <button
              class="btn btn-primary mb-3"
              id="register"
            >Registrate</button>
          </form>
          <a href="http://localhost:8080/password-recovery">¿Olvidaste tu
            Contraseña?</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/login.js"></script>