<div class="m-0 vh-100 row justify-content-center aling-items-center">
    <div class="col-auto p-5">
        <div class="container cont-register" style="width: 480px">
            <div class="row register">
                <div class="col-sm contenedor">
                    <h2>Recupera tu Contraseña</h2>
                    <p>Ingresa tu correo con el que te registraste. Recibirás un enlace para crear la contraseña nueva por correo electrónico</p>
                    <form id="form-password-recovery">
                        <div class="mb-3">
                            <label for="email">Correo Electrónico</label>
                            <input type="text" class="form-control" id="email" name="email">
                        </div>
                        <button class="btn btn-danger mb-3" id="login">Regresar</button>
                        <button type="submit" class="btn btn-primary mb-3">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/passwordRecovery.js"></script>