<div class="m-0 vh-100 row justify-content-center aling-items-center">
    <div class="col-auto p-5">
        <div class="container cont-register" style="width: 380px">
            <div class="row register">
                <div class="col-sm contenedor">
                    <h2>Registrate</h2>
                    <form id="form-register">
                        <div class="mb-3">
                            <label for="first-name" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="first-name" name="first-name">
                        </div>
                        <div class="mb-3">
                            <label for="last-name" class="form-label">Apellido</label>
                            <input type="text" class="form-control" id="last-name" name="last-name">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" class="form-control" id="email" name="email">
                        </div>
                        <div class="mb-3">
                            <label for="age" class="form-label">Edad</label>
                            <input type="number" class="form-control" id="age" name="age">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                        <button type="submit" class="btn btn-primary mb-3">Registrate</button>
                        <button class="btn btn-primary mb-3" id="login">Inicia sesion</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/register.js"></script>