<div class="container cont-register">
    <div class="row register">
        <div class="col-sm contenedor">
            <h2>Reestablecer contraseña</h2>
            <form id="reset-password-form">
                <div class="mb-3">
                    <label for="new-password">Ingresa la nueva contraseña:</label>
                    <input type="password" class="form-control" id="new-password" name="new-password">
                </div>
                <p id="status" style="color: red;"></p>
                <button type="submit" class="btn btn-primary mb-3">Guardar</button>
            </form>
        </div>
    </div>
</div>

<script src="/js/resetPassword.js" data-token="{{token}}" data-email="{{email}}"></script>